@page
@model WestwindWebApp.Pages.Territories.QueryModel
@{
}
<h1>Territory Queries</h1>

@if(Model.FeedbackMessage != null)
{
    <div class="alert alert-warning">
        @Model.FeedbackMessage
    </div>
}

<form method="post">
    <div>
        <label asp-for="SelectedRegionId">Select region:</label>
        <select asp-for="SelectedRegionId"
            class="form-select" >
            <option selected>Open this select menu</option>
            @foreach(var currentRegion in Model.Regions)
            {
                <option value="@currentRegion.RegionId">@currentRegion.RegionDescription</option>
            }
        </select>
    </div>
    <div>
        <label asp-for="TerritoryQuery">Name:</label>
        <input asp-for="TerritoryQuery" class="form-control"/>
    </div>
    <div>
        <button type="submit"
                asp-page-handler="FilterByRegion"
            class="btn btn-primary">Search by Region</button>
        <button type="submit"
                asp-page-handler="FilterByTerritory"
                class="btn btn-primary">
            Search by Name
        </button>
    </div>
</form>

@if(Model.QueryResultList != null && Model.QueryResultList.Count > 0) 
{
    <table>
        <thead>
            <tr>
                <th style="width: 200px">ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var currentTerritory in Model.QueryResultList)
            {
                <tr>
                    <td>@currentTerritory.TerritoryId</td>
                    <td>@currentTerritory.TerritoryDescription</td>
                </tr>
            }
        </tbody>
    </table>
}