@page
@model WestwindWebApp.Pages.Products.ProductCategoryModel
@{
}
<h1>Product Category</h1>

@if (Model.InfoMessage != null)
{
    <div class="alert alert-info">
        @Model.InfoMessage
    </div>
}
@if (Model.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @Model.ErrorMessage
    </div>
}

<form method="post">
    <div>
        <label asp-for="SelectedCategoryId">Select Category</label>
        <select asp-for="SelectedCategoryId"
                asp-items="Model.CategorySelectList"
                class="form-select form-select-lg mb-3"
                aria-label=".form-select-lg category">
            <option>---select a category---</option>
        </select>
    </div>
    <div>
        <button type="submit" 
            asp-page-handler="FetchProducts"
            class="btn btn-primary">
            Fetch Products
        </button>
        <button type="submit"
                asp-page-handler="Clear"
                class="btn btn-secondary">
            Clear
        </button>
        <button type="submit"
                asp-page-handler="NewProduct"
                class="btn btn-success">
            New Product
        </button>
    </div>

    @if (Model.QueryProductResultList != null && Model.QueryProductResultList.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                    <th>Supplier</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var currentProduct in Model.QueryProductResultList)
                {
                    <tr>
                        <td>@currentProduct.Id</td>
                        <td>@currentProduct.ProductName</td>
                        <td>
                            <select>
                                @* If the SupplierId is nullable then we can set as selected as shown below:
                                    <option selected=@(currentProduct.SupplierId == null)>No Supplier</option>
                                *@

                                @foreach(var item in Model.SupplierSelectList)
                                {
                                    @*if (int.Parse(item.Value) == currentProduct.SupplierId) 
                                    {
                                        <option value="@item.Value" selected>@item.Text</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Value">@item.Text</option>
                                    }*@
                                    @*
                                        Instead of using an if statement to output a conditional HTML attribute
                                        you can a razor inline expression to determine if the HTML attribute is included
                        such as the selected attribute is only included if the @(boolean_expression) evaluates to true
                                            selected = @(boolean_expression)
                                    *@
                                    <option value="@item.Value"
                                            selected=@(int.Parse(item.Value) == currentProduct.SupplierId)>
                                            @item.Text
                                    </option>
                                }
                            </select>
                        </td>
                        <td><a href="/Products/ProductCrud/@currentProduct.Id">edit</a></td>
                    </tr>
                }
            </tbody>
        </table>
    }
</form>